// FERM colors
$colorRed = #fb5a3a
$colorRedLight = #fd7a3f
$colorOrange = #fe823f
$colorOrangeLight = #ff9d44
$colorBlue = #007dc2
$colorBlueLight = #008ed1
$colorBlack = #000000

// theme overrides
$accentColor = $colorBlue

.custom-block.tip
  border-color: $colorOrange

// hide h1 headline on #home
#home
  display: none !important

